@model RoskaWastes.Models.IndexViewModel

@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <span class="col-md-10">
            Password:
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </span>
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <input class="btn btn-default btn-sm" value="Update Profile" id="profileUpdate" />
                <a href="@Url.Action("ChangePickupDay","PickupDay")"><input class="btn btn-default btn-sm" value="Change Pickup Day" /></a>
            </div>
        </div>
    </div>
</div>
